<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whjx.dao.SaveInfoMapper">
    <insert id="saveInfo" parameterType="com.whjx.pojo.UserInfo">
        insert into w_user(openid,nickName,avatar_url,gender,country,province,city,language) values(#{ui.openid},#{ui.nickName},#{ui.avatarUrl},#{ui.gender},#{ui.country},#{ui.province},#{ui.city},#{ui.language})
    </insert>
    <select id="selectUser" parameterType="java.lang.String" resultType="com.whjx.pojo.UserInfo">
        select * from w_user where openid = #{openid}
    </select>
</mapper>