<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.AdminInfoMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.AdminInfo" >
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    <result column="admin_telphone" property="adminTelphone" jdbcType="VARCHAR" />
    <result column="admin_email" property="adminEmail" jdbcType="VARCHAR" />
    <result column="admin_creat_time" property="adminCreatTime" jdbcType="DATE" />
    <result column="admin_staus" property="adminStaus" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_admininfo
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.AdminInfo" >
    insert into w_admininfo (admin_id, admin_name, admin_password, 
      admin_telphone, admin_email, admin_creat_time, 
      admin_staus)
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{adminTelphone,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR}, #{adminCreatTime,jdbcType=DATE}, 
      #{adminStaus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.AdminInfo" >
    update w_admininfo
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_telphone = #{adminTelphone,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR},
      admin_creat_time = #{adminCreatTime,jdbcType=DATE},
      admin_staus = #{adminStaus,jdbcType=INTEGER}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select admin_id, admin_name, admin_password, admin_telphone, admin_email, admin_creat_time, 
    admin_staus
    from w_admininfo
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select admin_id, admin_name, admin_password, admin_telphone, admin_email, admin_creat_time, 
    admin_staus
    from w_admininfo
  </select>
</mapper>