<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.CatDataMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.CatData" >
    <id column="cat_dataid" property="catDataid" jdbcType="INTEGER" />
    <result column="cat_catid" property="catCatid" jdbcType="INTEGER" />
    <result column="cat_dataname" property="catDataname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_cat_data
    where cat_dataid = #{catDataid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.CatData" >
    insert into w_cat_data (cat_dataid, cat_catid, cat_dataname
      )
    values (#{catDataid,jdbcType=INTEGER}, #{catCatid,jdbcType=INTEGER}, #{catDataname,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.CatData" >
    update w_cat_data
    set cat_catid = #{catCatid,jdbcType=INTEGER},
      cat_dataname = #{catDataname,jdbcType=VARCHAR}
    where cat_dataid = #{catDataid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select cat_dataid, cat_catid, cat_dataname
    from w_cat_data
    where cat_dataid = #{catDataid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select cat_dataid, cat_catid, cat_dataname
    from w_cat_data
  </select>
</mapper>