<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.CouponMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.Coupon" >
    <id column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="coupon_num" property="couponNum" jdbcType="INTEGER" />
    <result column="coupon_description" property="couponDescription" jdbcType="VARCHAR" />
    <result column="coupon_user_term" property="couponUserTerm" jdbcType="DATE" />
    <result column="coupon_exchange_time" property="couponExchangeTime" jdbcType="DATE" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_coupon
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.Coupon" >
    insert into w_coupon (coupon_id, coupon_name, coupon_num, 
      coupon_description, coupon_user_term, coupon_exchange_time
      )
    values (#{couponId,jdbcType=INTEGER}, #{couponName,jdbcType=VARCHAR}, #{couponNum,jdbcType=INTEGER}, 
      #{couponDescription,jdbcType=VARCHAR}, #{couponUserTerm,jdbcType=DATE}, #{couponExchangeTime,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.Coupon" >
    update w_coupon
    set coupon_name = #{couponName,jdbcType=VARCHAR},
      coupon_num = #{couponNum,jdbcType=INTEGER},
      coupon_description = #{couponDescription,jdbcType=VARCHAR},
      coupon_user_term = #{couponUserTerm,jdbcType=DATE},
      coupon_exchange_time = #{couponExchangeTime,jdbcType=DATE}
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select coupon_id, coupon_name, coupon_num, coupon_description, coupon_user_term, 
    coupon_exchange_time
    from w_coupon
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select coupon_id, coupon_name, coupon_num, coupon_description, coupon_user_term, 
    coupon_exchange_time
    from w_coupon
  </select>
</mapper>