<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.ExpressMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.Express" >
    <id column="express_id" property="expressId" jdbcType="INTEGER" />
    <result column="express_name" property="expressName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_express
    where express_id = #{expressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.Express" >
    insert into w_express (express_id, express_name)
    values (#{expressId,jdbcType=INTEGER}, #{expressName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.Express" >
    update w_express
    set express_name = #{expressName,jdbcType=VARCHAR}
    where express_id = #{expressId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select express_id, express_name
    from w_express
    where express_id = #{expressId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select express_id, express_name
    from w_express
  </select>
</mapper>