<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.KillMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.Kill" >
    <id column="kill_id" property="killId" jdbcType="INTEGER" />
    <result column="kill_count" property="killCount" jdbcType="INTEGER" />
    <result column="kill_start" property="killStart" jdbcType="DATE" />
    <result column="kill_end" property="killEnd" jdbcType="DATE" />
    <result column="kill_skuid" property="killSkuid" jdbcType="INTEGER" />
    <result column="kill_price" property="killPrice" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_kill
    where kill_id = #{killId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.Kill" >
    insert into w_kill (kill_id, kill_count, kill_start, 
      kill_end, kill_skuid, kill_price
      )
    values (#{killId,jdbcType=INTEGER}, #{killCount,jdbcType=INTEGER}, #{killStart,jdbcType=DATE}, 
      #{killEnd,jdbcType=DATE}, #{killSkuid,jdbcType=INTEGER}, #{killPrice,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.Kill" >
    update w_kill
    set kill_count = #{killCount,jdbcType=INTEGER},
      kill_start = #{killStart,jdbcType=DATE},
      kill_end = #{killEnd,jdbcType=DATE},
      kill_skuid = #{killSkuid,jdbcType=INTEGER},
      kill_price = #{killPrice,jdbcType=DECIMAL}
    where kill_id = #{killId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select kill_id, kill_count, kill_start, kill_end, kill_skuid, kill_price
    from w_kill
    where kill_id = #{killId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select kill_id, kill_count, kill_start, kill_end, kill_skuid, kill_price
    from w_kill
  </select>
</mapper>