<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.OrderInfo" >
    <id column="oi_details_id" property="oiDetailsId" jdbcType="INTEGER" />
    <result column="or_order_id" property="orOrderId" jdbcType="INTEGER" />
    <result column="order_goods_id" property="orderGoodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_count" property="goodsCount" jdbcType="INTEGER" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_orderinfo
    where oi_details_id = #{oiDetailsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.OrderInfo" >
    insert into w_orderinfo (oi_details_id, or_order_id, order_goods_id, 
      goods_name, goods_count, goods_price
      )
    values (#{oiDetailsId,jdbcType=INTEGER}, #{orOrderId,jdbcType=INTEGER}, #{orderGoodsId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsCount,jdbcType=INTEGER}, #{goodsPrice,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.OrderInfo" >
    update w_orderinfo
    set or_order_id = #{orOrderId,jdbcType=INTEGER},
      order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      goods_price = #{goodsPrice,jdbcType=DECIMAL}
    where oi_details_id = #{oiDetailsId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select oi_details_id, or_order_id, order_goods_id, goods_name, goods_count, goods_price
    from w_orderinfo
    where oi_details_id = #{oiDetailsId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select oi_details_id, or_order_id, order_goods_id, goods_name, goods_count, goods_price
    from w_orderinfo
  </select>
</mapper>