<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_user_id" property="orderUserId" jdbcType="INTEGER" />
    <result column="order_ad_id" property="orderAdId" jdbcType="INTEGER" />
    <result column="order_pay_id" property="orderPayId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_delivery_status" property="orderDeliveryStatus" jdbcType="INTEGER" />
    <result column="order_found_time" property="orderFoundTime" jdbcType="DATE" />
    <result column="order_payment_time" property="orderPaymentTime" jdbcType="DATE" />
    <result column="order_shipments_time" property="orderShipmentsTime" jdbcType="DATE" />
    <result column="order_receiving_time" property="orderReceivingTime" jdbcType="DATE" />
    <result column="order_freight" property="orderFreight" jdbcType="DECIMAL" />
    <result column="order_actual_payment" property="orderActualPayment" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.Order" >
    insert into w_order (order_id, order_user_id, order_ad_id, 
      order_pay_id, order_number, order_delivery_status, 
      order_found_time, order_payment_time, order_shipments_time, 
      order_receiving_time, order_freight, order_actual_payment
      )
    values (#{orderId,jdbcType=INTEGER}, #{orderUserId,jdbcType=INTEGER}, #{orderAdId,jdbcType=INTEGER}, 
      #{orderPayId,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{orderDeliveryStatus,jdbcType=INTEGER}, 
      #{orderFoundTime,jdbcType=DATE}, #{orderPaymentTime,jdbcType=DATE}, #{orderShipmentsTime,jdbcType=DATE}, 
      #{orderReceivingTime,jdbcType=DATE}, #{orderFreight,jdbcType=DECIMAL}, #{orderActualPayment,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.Order" >
    update w_order
    set order_user_id = #{orderUserId,jdbcType=INTEGER},
      order_ad_id = #{orderAdId,jdbcType=INTEGER},
      order_pay_id = #{orderPayId,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      order_delivery_status = #{orderDeliveryStatus,jdbcType=INTEGER},
      order_found_time = #{orderFoundTime,jdbcType=DATE},
      order_payment_time = #{orderPaymentTime,jdbcType=DATE},
      order_shipments_time = #{orderShipmentsTime,jdbcType=DATE},
      order_receiving_time = #{orderReceivingTime,jdbcType=DATE},
      order_freight = #{orderFreight,jdbcType=DECIMAL},
      order_actual_payment = #{orderActualPayment,jdbcType=DECIMAL}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select order_id, order_user_id, order_ad_id, order_pay_id, order_number, order_delivery_status, 
    order_found_time, order_payment_time, order_shipments_time, order_receiving_time, 
    order_freight, order_actual_payment
    from w_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select order_id, order_user_id, order_ad_id, order_pay_id, order_number, order_delivery_status, 
    order_found_time, order_payment_time, order_shipments_time, order_receiving_time, 
    order_freight, order_actual_payment
    from w_order
  </select>
</mapper>