<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.ParameterMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.Parameter" >
    <id column="parameter_id" property="parameterId" jdbcType="INTEGER" />
    <result column="parameter_firstname" property="parameterFirstname" jdbcType="VARCHAR" />
    <result column="parameter_sname" property="parameterSname" jdbcType="VARCHAR" />
    <result column="parameter_thirdname" property="parameterThirdname" jdbcType="VARCHAR" />
    <result column="parameter_fourname" property="parameterFourname" jdbcType="VARCHAR" />
    <result column="parameter_specification" property="parameterSpecification" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.Parameter" >
    insert into w_parameter (parameter_id, parameter_firstname, 
      parameter_sname, parameter_thirdname, parameter_fourname, 
      parameter_specification)
    values (#{parameterId,jdbcType=INTEGER}, #{parameterFirstname,jdbcType=VARCHAR}, 
      #{parameterSname,jdbcType=VARCHAR}, #{parameterThirdname,jdbcType=VARCHAR}, #{parameterFourname,jdbcType=VARCHAR}, 
      #{parameterSpecification,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.Parameter" >
    update w_parameter
    set parameter_firstname = #{parameterFirstname,jdbcType=VARCHAR},
      parameter_sname = #{parameterSname,jdbcType=VARCHAR},
      parameter_thirdname = #{parameterThirdname,jdbcType=VARCHAR},
      parameter_fourname = #{parameterFourname,jdbcType=VARCHAR},
      parameter_specification = #{parameterSpecification,jdbcType=INTEGER}
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select parameter_id, parameter_firstname, parameter_sname, parameter_thirdname, parameter_fourname, 
    parameter_specification
    from w_parameter
    where parameter_id = #{parameterId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select parameter_id, parameter_firstname, parameter_sname, parameter_thirdname, parameter_fourname, 
    parameter_specification
    from w_parameter
  </select>
</mapper>