<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.ReturnMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.ReturnMoney" >
    <id column="return_money_id" property="returnMoneyId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="return_money" property="returnMoney" jdbcType="DECIMAL" />
    <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="return_shop_comment" property="returnShopComment" jdbcType="VARCHAR" />
    <result column="shop_reject_return_reason" property="shopRejectReturnReason" jdbcType="VARCHAR" />
    <result column="return_status" property="returnStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="return_reason" property="returnReason" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_return_money
    where return_money_id = #{returnMoneyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.ReturnMoney" >
    insert into w_return_money (return_money_id, order_id, user_id, 
      return_money, return_time, return_shop_comment, 
      shop_reject_return_reason, return_status, create_time, 
      return_reason)
    values (#{returnMoneyId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{returnMoney,jdbcType=DECIMAL}, #{returnTime,jdbcType=TIMESTAMP}, #{returnShopComment,jdbcType=VARCHAR}, 
      #{shopRejectReturnReason,jdbcType=VARCHAR}, #{returnStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{returnReason,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.ReturnMoney" >
    update w_return_money
    set order_id = #{orderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      return_money = #{returnMoney,jdbcType=DECIMAL},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      return_shop_comment = #{returnShopComment,jdbcType=VARCHAR},
      shop_reject_return_reason = #{shopRejectReturnReason,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      return_reason = #{returnReason,jdbcType=LONGVARCHAR}
    where return_money_id = #{returnMoneyId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select return_money_id, order_id, user_id, return_money, return_time, return_shop_comment, 
    shop_reject_return_reason, return_status, create_time, return_reason
    from w_return_money
    where return_money_id = #{returnMoneyId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select return_money_id, order_id, user_id, return_money, return_time, return_shop_comment, 
    shop_reject_return_reason, return_status, create_time, return_reason
    from w_return_money
  </select>
</mapper>