<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.ReturnFromMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.ReturnFrom" >
    <id column="return_id" property="returnId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="return_type" property="returnType" jdbcType="TINYINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="retuen_amount" property="retuenAmount" jdbcType="DECIMAL" />
    <result column="return_annex" property="returnAnnex" jdbcType="VARCHAR" />
    <result column="return_status" property="returnStatus" jdbcType="TINYINT" />
    <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="final_result_time" property="finalResultTime" jdbcType="TIMESTAMP" />
    <result column="final_handle_staffid" property="finalHandleStaffid" jdbcType="TINYINT" />
    <result column="return_reason" property="returnReason" jdbcType="LONGVARCHAR" />
    <result column="respond_content" property="respondContent" jdbcType="LONGVARCHAR" />
    <result column="final_result" property="finalResult" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_return_from
    where return_id = #{returnId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.ReturnFrom" >
    insert into w_return_from (return_id, order_id, return_type, 
      user_id, retuen_amount, return_annex, 
      return_status, return_time, final_result_time, 
      final_handle_staffid, return_reason, respond_content, 
      final_result)
    values (#{returnId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{returnType,jdbcType=TINYINT}, 
      #{userId,jdbcType=INTEGER}, #{retuenAmount,jdbcType=DECIMAL}, #{returnAnnex,jdbcType=VARCHAR}, 
      #{returnStatus,jdbcType=TINYINT}, #{returnTime,jdbcType=TIMESTAMP}, #{finalResultTime,jdbcType=TIMESTAMP}, 
      #{finalHandleStaffid,jdbcType=TINYINT}, #{returnReason,jdbcType=LONGVARCHAR}, #{respondContent,jdbcType=LONGVARCHAR}, 
      #{finalResult,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.ReturnFrom" >
    update w_return_from
    set order_id = #{orderId,jdbcType=INTEGER},
      return_type = #{returnType,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER},
      retuen_amount = #{retuenAmount,jdbcType=DECIMAL},
      return_annex = #{returnAnnex,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=TINYINT},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      final_result_time = #{finalResultTime,jdbcType=TIMESTAMP},
      final_handle_staffid = #{finalHandleStaffid,jdbcType=TINYINT},
      return_reason = #{returnReason,jdbcType=LONGVARCHAR},
      respond_content = #{respondContent,jdbcType=LONGVARCHAR},
      final_result = #{finalResult,jdbcType=LONGVARCHAR}
    where return_id = #{returnId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select return_id, order_id, return_type, user_id, retuen_amount, return_annex, return_status, 
    return_time, final_result_time, final_handle_staffid, return_reason, respond_content, 
    final_result
    from w_return_from
    where return_id = #{returnId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select return_id, order_id, return_type, user_id, retuen_amount, return_annex, return_status, 
    return_time, final_result_time, final_handle_staffid, return_reason, respond_content, 
    final_result
    from w_return_from
  </select>
</mapper>