<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.SkuMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.Sku" >
    <id column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="sku_spu" property="skuSpu" jdbcType="INTEGER" />
    <result column="sku_title" property="skuTitle" jdbcType="VARCHAR" />
    <result column="sku_price" property="skuPrice" jdbcType="DECIMAL" />
    <result column="sku_describe" property="skuDescribe" jdbcType="VARCHAR" />
    <result column="sku_inventory" property="skuInventory" jdbcType="INTEGER" />
    <result column="sku_recommend" property="skuRecommend" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_sku
    where sku_id = #{skuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.Sku" >
    insert into w_sku (sku_id, sku_spu, sku_title, 
      sku_price, sku_describe, sku_inventory, 
      sku_recommend)
    values (#{skuId,jdbcType=INTEGER}, #{skuSpu,jdbcType=INTEGER}, #{skuTitle,jdbcType=VARCHAR}, 
      #{skuPrice,jdbcType=DECIMAL}, #{skuDescribe,jdbcType=VARCHAR}, #{skuInventory,jdbcType=INTEGER}, 
      #{skuRecommend,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.Sku" >
    update w_sku
    set sku_spu = #{skuSpu,jdbcType=INTEGER},
      sku_title = #{skuTitle,jdbcType=VARCHAR},
      sku_price = #{skuPrice,jdbcType=DECIMAL},
      sku_describe = #{skuDescribe,jdbcType=VARCHAR},
      sku_inventory = #{skuInventory,jdbcType=INTEGER},
      sku_recommend = #{skuRecommend,jdbcType=INTEGER}
    where sku_id = #{skuId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select sku_id, sku_spu, sku_title, sku_price, sku_describe, sku_inventory, sku_recommend
    from w_sku
    where sku_id = #{skuId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sku_id, sku_spu, sku_title, sku_price, sku_describe, sku_inventory, sku_recommend
    from w_sku
  </select>
</mapper>