<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whjx.dao.SpuMapper" >
  <resultMap id="BaseResultMap" type="com.whjx.pojo.Spu" >
    <id column="spu_id" property="spuId" jdbcType="INTEGER" />
    <result column="spu_title" property="spuTitle" jdbcType="VARCHAR" />
    <result column="spu_sontitle" property="spuSontitle" jdbcType="VARCHAR" />
    <result column="spu_state" property="spuState" jdbcType="INTEGER" />
    <result column="spu_addtime" property="spuAddtime" jdbcType="DATE" />
    <result column="spu_pc" property="spuPc" jdbcType="INTEGER" />
    <result column="spu_sc" property="spuSc" jdbcType="INTEGER" />
    <result column="spu_describe" property="spuDescribe" jdbcType="VARCHAR" />
    <result column="spu_specification" property="spuSpecification" jdbcType="VARCHAR" />
    <result column="spu_recommend" property="spuRecommend" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_spu
    where spu_id = #{spuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjx.pojo.Spu" >
    insert into w_spu (spu_id, spu_title, spu_sontitle, 
      spu_state, spu_addtime, spu_pc, 
      spu_sc, spu_describe, spu_specification, 
      spu_recommend)
    values (#{spuId,jdbcType=INTEGER}, #{spuTitle,jdbcType=VARCHAR}, #{spuSontitle,jdbcType=VARCHAR}, 
      #{spuState,jdbcType=INTEGER}, #{spuAddtime,jdbcType=DATE}, #{spuPc,jdbcType=INTEGER}, 
      #{spuSc,jdbcType=INTEGER}, #{spuDescribe,jdbcType=VARCHAR}, #{spuSpecification,jdbcType=VARCHAR}, 
      #{spuRecommend,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjx.pojo.Spu" >
    update w_spu
    set spu_title = #{spuTitle,jdbcType=VARCHAR},
      spu_sontitle = #{spuSontitle,jdbcType=VARCHAR},
      spu_state = #{spuState,jdbcType=INTEGER},
      spu_addtime = #{spuAddtime,jdbcType=DATE},
      spu_pc = #{spuPc,jdbcType=INTEGER},
      spu_sc = #{spuSc,jdbcType=INTEGER},
      spu_describe = #{spuDescribe,jdbcType=VARCHAR},
      spu_specification = #{spuSpecification,jdbcType=VARCHAR},
      spu_recommend = #{spuRecommend,jdbcType=INTEGER}
    where spu_id = #{spuId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select spu_id, spu_title, spu_sontitle, spu_state, spu_addtime, spu_pc, spu_sc, spu_describe, 
    spu_specification, spu_recommend
    from w_spu
    where spu_id = #{spuId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select spu_id, spu_title, spu_sontitle, spu_state, spu_addtime, spu_pc, spu_sc, spu_describe, 
    spu_specification, spu_recommend
    from w_spu
  </select>
</mapper>